<html>
  <head>
    <title>%TITLE%</title>
  </head>
  <body>
    <h3><a href="%JNLPNAME1%">VGXP Direct</a></h3>
    <p>
      This link will launch a VGXP client which connects to the VGXP server directly. The port number of the VGXP server changes everytime it is restarted. If your web server is protected by some firewall software, this link may not work.
    </p>
    <h3><a href="%JNLPNAME2%">VGXP Proxy</a></h3>
      This link will launch a VGXP client which connects to the VGXP server indirectly via proxy CGI process, which should have less firewall problems, however, buffering of responce of CGI performed by a web server might do bad things.
    <p>
    </p>
  </body>
</html>
